.menu-container {
  display: flex;
  flex-direction: column;
  position: relative;
  gap:5vh;
  padding:5vh;
  width: 300px;
  border: 2px dotted #0008;
  border-radius: 20px;
 align-items: center;
  background-color: #fb22;
}

.router-container{
}

.top-right-btn {
  position: absolute;
  align-self: flex-end;
}