.ready-state{
  display:flex;
  flex-direction: column;
  width: 100%;
  gap:8px;
  
}

.ready-state-container{
  display: flex;
  justify-content: space-between;
}

.span-button {
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--themeBGColor);
  height: 30px;
  color: var(--themeBGColor);
  width: 30px;
}

.status-box {
  display:flex;
  flex-direction: column;
  gap:8px;
  align-items: center;
}